:root {
  --color-header-top-banner:#1D1D1D;
  --color-header-top-items:#999;
  --color-header-bottom-navbar:#da0000;
  --color-header-bottom-font:#fff;
  --color-box-shadow-light: #000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

.padding-bothside {
  padding: 0 1.5rem;
}

.link-destroyer:link, .link-destroyer:visited {
  text-decoration: none;
  color: var(--color-header-bottom-font);
}

.header-top {
  background-color: var(--color-header-top-banner);
  color: var(--color-header-top-items);
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__icons {
  height: 1.7rem;
  width: 1.7rem;
  fill: var(--color-header-top-items);
  padding-right: .5rem;
}

.header-top__leftside {
  display: inline-block;
  margin-left: 8rem;
}

.header-top__leftside--itembox {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}

.header-top__leftside--item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__leftside--item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__leftside--item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__rightside {
  margin-right: 20rem;
  width: 32rem;
  padding: 1rem;
}

.header-top__rightside__box {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

.header-top__rightside__box > *:not(:last-child) {
  padding: 0 1rem;
  border-right: 1px solid var(--color-header-top-items);
}

.header-top__rightside__box > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-middle__logo-box {
  margin-left: 8rem;
  display: block;
}

.header-middle__logo {
  height: 10rem;
}

.header-bottom {
  background-color: var(--color-header-bottom-navbar);
  height: 6rem;
  color: var(--color-header-bottom-font);
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 1rem 2rem rgba(var(--color-box-shadow-light), 0.15);
          box-shadow: 0 1rem 2rem rgba(var(--color-box-shadow-light), 0.15);
}

.header-bottom__navbox {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.header-bottom__navbox > * {
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__search-icon {
  background-color: blueviolet;
}

.header-bottom__icons {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-header-bottom-font);
}

.header {
  height: 40rem;
}
/*# sourceMappingURL=main.css.map */