.header-top{
    background-color: var(--color-header-top-banner);
    color: var(--color-header-top-items);
    height: 5rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__icons{
        height: 1.7rem;
        width: 1.7rem;
        fill: currentColor;
        padding-right: .5rem;
    }

    &__leftside{
        margin-left: 5rem;
        // background-color: orangered;

        &--itembox{
            list-style: none;
            display: flex;
            font-size: 1.4rem;
            font-weight: 300;
            padding:1rem;
            justify-content: space-around;
            width: 30rem;
            align-items: center;

           




        }

        &--item-3,
        &--item-2,
        &--item-1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
        }

        
    }

    &__rightside{
        margin-right: 10rem;
        width: 45rem;
        padding:1rem;
        // background-color: orchid;



        &__link:link,
        &__link:visited{
            text-decoration: none;
            color: var(--color-header-bottom-font);
            display: flex;
            align-items: center;

            &:hover{
                color: var(--color-header-top-items);
            }


        }

        &--social-link:link,
        &--social-link:visited{
            text-decoration: none;
            color: var(--color-header-top-items);

            &:hover{
                color: var(--color-header-bottom-font);

            }
        }


        &__box{
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;




            & > *:not(:last-child){
                padding: 0 1rem;
                border-right: 1px solid var(--color-header-top-items);
            }

            & > *{
                display: flex;
                align-items: center;
            }


        }
    }
}

.header-middle{

    &__logo-box{
        margin-left: 8rem;
        display: block;
        // padding-left: 25rem;
    }
    &__logo{
        height: 10rem;

    }
}

.header-bottom{
    background-color: var(--color-header-bottom-navbar);
    height: 6rem;
    color:var(--color-header-bottom-font);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1rem 2rem rgba($color-box-shadow,.15);
    // padding: 0 25rem;

    &__icons {
        height: 1.5rem;
        width: 1.5rem;
        fill: #fff;
        margin-left: .5rem;
    }


    &__link {


    &:link,
    &:visited {
        text-decoration: none;
        color:var(--color-header-bottom-f);
        border-bottom: 1px solid transparent;
        position: relative;


        &::before{
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-header-bottom-font);
            opacity: 0;
        }

        &:hover::before{
            opacity: 1;

        }





    }

    }



    &__navbox{
        list-style: none;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        justify-content: space-between;



        & > * {
            padding: 0 1.5rem;
            display: flex;
            align-items: center;


        }

    }







    &__search-box{
        // background-color: orangered;
        height: 4rem;
        display: flex;
        align-items: center;
        position: relative;

        &:hover > &--text {
            width: 20rem;
            padding: 1rem;
        }

        &:hover > &--btn{
            color: var(--color-black);
            position: absolute;
            top: 15%;
            right: 5%;
            margin-right: 2rem;

        }

        &--icons {
            height: 2.4rem;
            width: 2.4rem;
            fill: currentColor;
            margin-right: -2rem;
        }


        &--text{
            border: none;
            // padding: 1rem;
            border-radius: 100px;
            font-family: inherit;
            font-size: inherit;
            color: var(--color-header-top-items);
            width: 0;
            // flex-grow: 1;
            transition: .4s;

            &:focus{
                outline: none;
            }

            &::-webkit-input-placeholder{
                font-family: inherit;

            }
        }

        &--btn{
            transition: .4s;
            cursor: pointer;
            color: var(--color-header-bottom-font);
        }
    }
}