.news-features{
    height:50rem;
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    color: #fff;

    & > * {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
    }



    &__bottom{
        padding: 1rem;
        cursor: pointer;

        & > *:hover{
            color: var(--color-deep-red);
            transition:.3s;
        }
    }

    &__title{
        background-color:var(--color-black-2);
        padding: 1rem;

        &:hover{
            background-color: var(--color-deep-red);
        }
    }

    &__1{
        background-image: url(images/f-1.jpg);
        grid-row: 1 / -1;
        grid-column: 1/ span 2;


        &--iconbox{
            height: 2rem;
            width: 2rem;
            background-color: var(--color-deep-red);
            position: relative;
            padding: 1rem;
        }
        &--icon{
            height: 2rem;
            width: 2rem;
            fill: #fff;
            @include centerElementByPosition
        }

        &--sub-icon{
            fill: currentColor;
            height: 1.7rem;
            width: 1.7rem;
            padding-right: 2rem;
        }
        &--tag{

            font-size: 1.2rem;
            padding: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing:1px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;


        }

        &--identity{
            font-size: 1.3rem;
            padding: 1rem 0;
            &--name{
                padding-right: 1rem;
            }
        }

        &--location{
            display: flex;
            font-size: 1.4rem;
            text-align: center;
            padding: 1rem 0;
        }

    }

    &__2{
        background-image: url(images/f-2.jpg);


    }

    &__3{
        background-image: url(images/f-3.jpg);
    }

    &__4{
        background-image: url(images/f-4.jpg);
        grid-column: 3 / -1;
    }


}