//color platter

:root {
    --color-dark-black-1:#1D1D1D;
    --color-black:#000;
    --color-black-2:#0a0908;


    --color-grey-1:#999;
    --color-grey-light:#dacece91;
    --color-grey-light-1:#E9ECEF;
    --color-grey-light-2:#FAFAFA;


    --color-deep-red:#da0000;


    --color-white:#fff;




}

$color-box-shadow:#000;
