//color platter

:root {
    --color-header-top-banner:#1D1D1D;
    --color-header-top-items:#999;
    --color-header-bottom-navbar:#da0000;
    --color-header-bottom-font:#fff;
    --color-black:#000;
    --color-grey-light:#dacece91;

}

$color-box-shadow:#000;
